/* All styles for your header Components live here */

.headerContainer {
    border: 2px solid #DC978A;
    width: 578px;
    height: 100px;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
}
